<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if templates.Exists "partials/head/resource-hints.html" -}}
    {{ partial "head/resource-hints" . }}
  {{ end -}}
  {{ if templates.Exists "partials/head/script-header-priority.html" -}}
    {{ partial "head/script-header-priority" . }}
  {{ end -}}
  {{ partial "head/stylesheet" . }}
  {{ if templates.Exists "partials/head/seo.html" -}}
    {{ partial "head/seo" . }}
  {{ else -}}
    {{ partial "head/seo-default" . }}
  {{ end -}}
  {{ partial "head/favicons" . }}
  {{ if templates.Exists "partials/head/script-header.html" -}}
    {{ partial "head/script-header" . }}
  {{ end -}}
  {{ if templates.Exists "partials/head/custom-head.html" -}}
    {{ partial "head/custom-head" . }}
  {{ end -}}
</head>
