{{ $last := sub (len .Params.contributors) 1 }}
<p><small>{{ .PublishDate.Format "January 2, 2006" }}{{ if .Params.categories -}}&nbsp;in&nbsp;{{ range $index, $category := .Params.categories -}}{{ if gt $index 0 -}}, {{ end -}}<a class="stretched-link position-relative link-muted" href="{{ "/categories/" | absURL }}{{ . | urlize }}/">{{ . }}</a>{{ end -}}{{ end -}}
{{ if .Params.contributors -}}&nbsp;by {{ range $index, $contributor := .Params.contributors }}{{ if gt $index 0 }}{{ if eq $index $last }} and {{ else }}, {{ end }}{{ end }}
  {{- with $.Site.GetPage "taxonomyTerm" (printf "contributors/%s" (urlize .)) -}}
  {{ if .Params.avatar -}}
    {{ $image := .Resources.GetMatch (printf "**%s" .Params.avatar) -}}
    {{ $imageLq := $image.Resize "15x15 webp q95" -}}
    {{ $image = $image.Resize "60x60 webp q95" -}}
      <img class="rounded-circle w-auto mx-1 lazyload blur-up" src="{{ $imageLq.RelPermalink }}" data-src="{{ $image.RelPermalink }}" alt="{{ .Title }}" width="30" height="30">
  {{ end -}}
{{ end -}}
<a class="stretched-link position-relative" href="{{ "/contributors/" | relURL }}{{ . | urlize }}/">{{ . }}</a>{{ end -}}{{ end -}}&nbsp;&hyphen;&nbsp;<strong>{{ .ReadingTime -}}&nbsp;min read</strong></small><p>
