//
// Callouts
//

.callout {
  --#{$prefix}link-color-rgb: var(--callout-link);
  --#{$prefix}code-color: var(--callout-code-color);

  padding: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--callout-color, inherit);
  background-color: var(--callout-bg, var(--bs-gray-100));
  border-left: 0.25rem solid var(--callout-border, var(--bs-gray-300));
  border-radius: 0;

  h4 {
    margin-top: 0;
    margin-bottom: .25rem;
  }

  > :last-child {
    margin-bottom: 0;
  }

  + .callout {
    margin-top: -.25rem;
  }

  .svg-inline {
    position: relative;
    margin: -0.375rem 0 0;
  }

  .callout-title {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: $headings-font-weight;
    font-size: $font-size-md;

    @include media-breakpoint-up(lg) {
      font-size: $font-size-lg;
    }

    .svg-inline {
      margin-right: 0.5rem;
    }
  }

  code {
    background: transparent;
    color: inherit;
  }

  a {
    @extend .alert-link;

    font-weight: $font-weight-medium;
  }

  .highlight {
    background-color: rgba($black, .05);
  }
}

.callout.callout-note {
  border-color: var(--sl-color-blue);
  background-color: var(--sl-color-blue-high);

  .callout-title {
    color: var(--sl-color-blue-low);
  }

  code {
    background: tint-color($info, 80%);
  }
}

.callout.callout-tip {
  border-color: var(--sl-color-purple);
  background-color: var(--sl-color-purple-high);

  .callout-title {
    color: var(--sl-color-purple-low);
  }

  code {
    background: tint-color($purple, 80%);
  }
}

.callout.callout-caution {
  border-color: var(--sl-color-orange);
  background-color: var(--sl-color-orange-high);

  .callout-title {
    color: var(--sl-color-orange-low);
  }

  code {
    background: tint-color($yellow, 80%);
  }
}

.callout.callout-danger {
  border-color: var(--sl-color-red);
  background-color: var(--sl-color-red-high);

  .callout-title {
    color: var(--sl-color-red-low);
  }

  code {
    background: tint-color($red, 80%);
  }
}

.callout.callout-light code {
  background: var(--sl-color-gray-1);
}

@include color-mode(dark) {
  .callout {
    color: var(--sl-color-gray-1);
  }

  .callout.callout-note {
    border-color: var(--sl-color-blue);
    background-color: var(--sl-color-blue-low);

    .callout-title {
      color: var(--sl-color-blue-high);
    }

    code {
      background: shade-color($info, 75%);
    }
  }

  .callout.callout-tip {
    border-color: var(--sl-color-purple);
    background-color: var(--sl-color-purple-low);

    .callout-title {
      color: var(--sl-color-purple-high);
    }

    code {
      background: shade-color($purple, 75%);
    }
  }

  .callout.callout-caution {
    border-color: var(--sl-color-orange);
    background-color: var(--sl-color-orange-low);

    .callout-title {
      color: var(--sl-color-orange-high);
    }

    code {
      background: shade-color($yellow, 75%);
    }
  }

  .callout.callout-danger {
    border-color: var(--sl-color-red);
    background-color: var(--sl-color-red-low);

    .callout-title {
      color: var(--sl-color-red-high);
    }

    code {
      background: shade-color($red, 75%);
    }
  }
}
