{{ $address := replace (.emailAddress | safeURL) "mailto:" "" -}}
{{ $addressParts := split $address "@" -}}
{{ $userName := (index $addressParts 0) -}}
{{ $domain := (index $addressParts 1) -}}
{{ $domainParts := split $domain "." -}}
{{ $domainName := (index $domainParts 0) -}}
{{ $domainExtension := delimit (after 1 $domainParts) "." -}}
{{ $domainFull := cond (eq $domainExtension "") $domainName (printf "%s.%s" $domainName $domainExtension) -}}
<script nonce="dXNlcj0iaGVsbG8iLGRvbWFpbj0iaGVua3ZlcmxpbmRlLmNvbSIsZG9jdW1lbnQud3JpdGUodXNlcisiQCIrZG9tYWluKTs=">userName="{{ $userName }}",domainFull="{{ $domainFull }}",document.write("<a href='mailto:"+userName+"@"+domainFull+"'>{{ if ne .emailTitle $address}}{{ .emailTitle | safeHTML }}{{else}}"+userName+"@"+domainFull+"{{end}}</a>");</script><noscript>{{ $userName }} at {{ $domainName }}{{ if ne $domainExtension "" }} dot {{ $domainExtension }}{{ end }}</noscript>
