{{ $bootstrapJavascript := site.Data.doks.bootstrapJavascript -}}
{{ if $bootstrapJavascript -}}
  {{ partial "footer/esbuild" (dict "src" "js/bootstrap.js" "load" "async" "transpile" false) -}}
{{ end -}}
{{ partial "footer/script-footer-core.html" . -}}

{{ partial "main/showFlexSearch" . -}}
{{ $showFlexSearch := .Scratch.Get "showFlexSearch" -}}
{{ $searchLimit := site.Data.doks.searchLimit -}}
{{ if $showFlexSearch -}}
  {{ partial "footer/esbuild" (dict "src" "js/flexsearch.js" "load" "async" "transpile" false "params" (dict "searchLimit" $searchLimit)) -}}
  {{ partial "footer/esbuild" (dict "src" "js/search-modal.js" "load" "async" "transpile" false) -}}
{{ end -}}

{{ if .Page.Store.Get "hasMermaid" -}}
  {{ partial "footer/esbuild" (dict "src" "js/mermaid.js" "load" "defer" "transpile" false) -}}
{{ end -}}

{{ if .Params.katex -}}
  {{ partial "footer/esbuild" (dict "src" "js/katex.js" "load" "defer" "transpile" false) -}}
{{ end -}}
