// Doks color scheme

/* Bluish cyan */
$doks-bluishCyan-100: #8ed6fb;
$doks-bluishCyan-200: #1d2d35;

/* Gray */
$doks-gray-100: #ffffff;
$doks-gray-200: #fcfaff;

/* Khaki */
$doks-khaki-100: #fbf7f0;
$doks-khaki-200: #aa9c84;

/* Crimson */
$doks-crimson-100: #d32e9d;

/* Purple */
$doks-purple-100: #5d2f86;

/* Vermilion */
$doks-vermilion-100: #e55235;

/* Yellow */
$doks-yellow-100: #ffe000;
